<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <%= config.title %>
        Copyright &copy; <% new Date().getFullYear() %> <%= config.author %>
      </p>
    </div>
  </div>
</footer>
